* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #222;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.navbar-title {
    padding-left: 20px;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.container-logo {
    width: 120px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    color: #555;
}

.input-form {
    width: 100%;
    padding: 10px 0;
}

.input-login {
    width: 100%;
    padding: 18px;
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 16px;
    color: #555;
}

.input-login:focus {
    outline: none;
}

.input-error {
    color: tomato;
    margin-left: 5px;
    font-size: small;
}

.button {
    background-color: #94D700;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow .1s, padding .1s, color .2s;
    text-shadow: 1px 1px 2px #292929;;
}

.button:hover {
    background-color: #98df01;
    width: 100.5%;
}

.button:active {
    width: 99.9%;
    padding: 17px;
    background-color: #292929;;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

@media only screen and (min-width: 401px) and (max-width: 540px) {
    .navbar {
        height: 15vh;
    }

    .container-login {
        height: 85vh;
    }

    .container-logo {
        width: 152px;
    }

    .container-form {
        width: 93%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 960px) {
    .navbar {
        height: 10vh;
    }

    .container-login {
        height: 90vh;
    }

    .container-logo {
        width: 192px;
    }

    .container-form {
        width: 60%;
        padding: 30px 40px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1080px) {
    .navbar {
        height: 7vh;
    }

    .container-login {
        height: 93vh;
    }

    .container-logo {
        width: 192px;
    }

    .container-form {
        width: 60%;
        padding: 30px 40px;
    }
}

@media only screen and (min-width: 1080px) {  
    .navbar {
        height: 7vh;
    }

    .container-login {
        height: 93vh;
    }

    .container-logo {
        width: 192px;
    }

    .container-form {
        width: 30%;
        padding: 30px 40px;
    }
}