.drawer-container {
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    color: #333;
    height: 87vh;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.drawer-container-visible {
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    color: #333;
    height: 87vh;
    width: 260px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.drawer-separator {
    width: 95%;
    margin: 10px auto;
    border-bottom: .1px solid #ccc;
}

.drawer-title {
    height: 5vh;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-options {
    display: flex;
    justify-content: center;
}

.drawer-config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-options-list {
    width: 100%;
    list-style-type: none;
}

.drawer-options-list-item {
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.drawer-options-list-item:visited {
    color: #333;
}

.drawer-options-list-item:hover {
    background-color: #cfff66;
}

.drawer-options-list-item-active {
    background-color: #cfff66;
    border-bottom: .1px solid #96b949;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.drawer-options-list-item-children-title{
    margin-bottom: 5px;
}

.drawer-options-list-item-children-box {
    display: none;
}

.drawer-options-list-item-children-box-visible {
    display: block;
}

.drawer-options-list-item-child {
    display: block;
    width: 100%;
    padding: 6px 20px 6px 25px;
    text-decoration: none;
    color: #333;
}

.drawer-options-list-item-child:hover {
    border-radius: 20px;
    background-color: #96b949;
}

.drawer-options-list-item:visited {
    color: #333;
}

@media only screen and (min-width: 960px) {  
    .drawer-container {
        background-color: whitesmoke;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        color: #333;
        height: 87vh;
        width: 260px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
    }
}