.table-container {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(5, 5, 5, 0.2);
    color: #333;
}

.table-empty {
    padding: 50px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(5, 5, 5, 0.2);
    color: #333;
}

.table-body {
    min-height: 250px;
}

.table-input-search-main-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin-bottom: 5px;
    
}

.table-input-search-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 10px 0;
    font-size: 20px;
    color: #ccc;
    border-bottom: .5px solid #ccc;
}

.table-input-search {
    width: 80%;
    color: #444;
    font-size: 16px;
    border: 0;
}

.table-input-search:focus {
    outline: none;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    color: #444;
    /* background-color: whitesmoke; */
}

.title-text-container {
    font-weight: 500;
    cursor: pointer;
}

.title-text {
    /* font-size: 20px; */
    margin-right: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: .5px solid #f3f3f3;
}

.row:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-footer {
    margin-top: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-weight: 500;
}

.table-pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-lenght-data {
    /* font-weight: 700; */
}

.table-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.table-numbers {
    margin: 0 5px;
    color: tomato;
    font-weight: 400;
}